<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.livotov.zxscan"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="10" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.flash"
            android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />

    <supports-screens
            android:xlargeScreens="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:anyDensity="true" />

    <application android:label="zxscanlib">

        <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:stateNotNeeded="true"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="eu.livotov.zxscan.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>
